.lfr-layout-structure-item-container {padding: 0;} .lfr-layout-structure-item-row {overflow: hidden;} .portlet-borderless .portlet-content {padding: 0;}.lfr-layout-structure-item-d8b3a4fc-c1a5-4069-a69a-985448e14eac {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-d8b3a4fc-c1a5-4069-a69a-985448e14eac) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-a4c2dcca-353e-9b0e-3ca5-2d904da79249 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-a4c2dcca-353e-9b0e-3ca5-2d904da79249) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-baf498f1-00d6-10a5-e7cb-c4d1bdeabacd {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-baf498f1-00d6-10a5-e7cb-c4d1bdeabacd) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-9f9084f2-c548-a5c4-a0a2-8592b427d915 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-9f9084f2-c548-a5c4-a0a2-8592b427d915) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-3fc7043a-3387-4c05-82fd-42296402147f {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-3fc7043a-3387-4c05-82fd-42296402147f) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-595f18dc-2e3f-4bd7-a8a9-14f78748fda8 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-595f18dc-2e3f-4bd7-a8a9-14f78748fda8) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
color: var(--gray-200) !important;
}
.lfr-layout-structure-item-e442c6f4-9017-717d-5f83-51abca403068 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-e442c6f4-9017-717d-5f83-51abca403068) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-1e5d84c1-6f50-6e1f-ea5c-216dcf0edc99 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-1e5d84c1-6f50-6e1f-ea5c-216dcf0edc99) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-4baab765-6f56-6c96-cfe8-86284681df22 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-4baab765-6f56-6c96-cfe8-86284681df22) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-c961ab94-0e05-49ea-b40b-4114af4f9fbb {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-c961ab94-0e05-49ea-b40b-4114af4f9fbb) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-3aa09f32-27f8-60fc-0dab-3768002cafee {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-3aa09f32-27f8-60fc-0dab-3768002cafee) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-a4d36f4e-92d7-4d82-975f-d2775a286108 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-a4d36f4e-92d7-4d82-975f-d2775a286108) !important;
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
